foreachexample/src/main/mule/foreachexample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e53e75b1-b967-4125-90c1-54a8cde84713" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="foreachexampleFlow" doc:id="4e352d89-05b0-4678-9fbf-fe49d461b9f4" >
		<http:listener doc:name="Listener" doc:id="6b9fac00-4997-456e-9452-a4f60bb382b6" path="/getdata" config-ref="HTTP_Listener_config"/>
		<ee:transform doc:name="jsonPayload" doc:id="c92f3b86-597d-4c92-82d8-771ff0464e9e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="1b9988e1-3979-4fc6-b1af-6acd1a9ad8c2" collection="#[payload]">
			<logger level="INFO" doc:name="Logger" doc:id="4c8a25de-f1b3-4f27-9d8f-025aa0724d09" />
		</foreach>
	</flow>
</mule>
