employeeeLoginPortal/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="bc4c4b25-6d4f-4881-abe2-4a3b75945456" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Createit" database="muledb" />
	</db:config>
	<flow name="getEmployeesFlow" doc:id="b28c8bdf-59cf-4937-a575-45b6df2592b1" >
		<db:select doc:name="getEmployees" doc:id="d764d243-22c5-4ca1-a32a-8a6ca690e4cb" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM employeedata]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="301525ba-1c4d-4d5e-9838-903ec31773de" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getEmployeesbyEmployeeID" doc:id="f7e375be-a04d-4077-965f-03c3f7a33a96" >
		<db:select doc:name="getEmployeebyEmployeeID" doc:id="0942c989-e000-4f67-a4bd-7bbcbe22af02" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM employeedata where Eid = :employeeId]]></db:sql>
			<db:input-parameters ><![CDATA[#[{employeeId: attributes.uriParams.employeeId}]]]></db:input-parameters>
		
</db:select>
		<ee:transform doc:name="Transform Message" doc:id="8c289b46-f7c0-4852-a34c-65a715f3c7c0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="postEmployeesFlow" doc:id="7095e948-91fd-47f3-a898-02c55664f6bf" >
		<foreach doc:name="For Each" doc:id="5dff5aec-ca76-45ac-a465-b9d6b8950e3e" >
			<db:insert doc:name="createEmployeename" doc:id="6027a31a-492e-4de8-b1d2-0fdd61cd256d" config-ref="Database_Config">
			<db:sql><![CDATA[INSERT INTO employeedata (Eid, Ename, Esal,ERole,Enum)
VALUES (:Eid,:Ename,:Esal,:ERole,:Enum)]]></db:sql>
			<db:input-parameters><![CDATA[#[{Eid: payload.Eid,
 Ename: payload.Ename,
 Esal: payload.Esal,
 ERole: payload.ERole,
 Enum: payload.Enum
}]]]></db:input-parameters>
		</db:insert>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="c3efe2dc-0714-43a3-85de-f250c6f2a51f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  Message: "Employee creation successful"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="putEmployeebyEmployeeID" doc:id="7285e95a-a804-43ad-a5e2-ffa892865d51" >
		<db:update doc:name="updateEmployeeContact" doc:id="17863962-43d1-47de-abed-d17196425ace" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE employeedata SET Enum = :Enum WHERE Eid = :Eid]]></db:sql>
			<db:input-parameters ><![CDATA[#[{Enum: payload.Enum,
 Eid: attributes.uriParams.employeeId
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="13b95a33-e33d-47dc-9d02-ec15492f5fda" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  Message: "Contact details updated"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="deleteEmployeebyEmployeeID" doc:id="adf7800c-63f0-48d5-8f7b-649016ac0f16" >
		<db:delete doc:name="DeleteEmployee" doc:id="8baf0647-b747-4190-a270-494d1464b80b" config-ref="Database_Config">
			<db:sql ><![CDATA[Delete  FROM employeedata where Eid = :employeeId]]></db:sql>
			<db:input-parameters ><![CDATA[#[{employeeId: attributes.uriParams.employeeId}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="00ec226c-7df9-43e5-928d-1d842b5bc81c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  Message: "Employee details deleted successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
