datatype/src/main/mule/datatype.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f16bace1-9d57-4c33-b25d-0eaa75260c0d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="datatypeFlow" doc:id="f8b4d245-cf14-4e4a-adca-fe1002504831" >
		<http:listener doc:name="Listener" doc:id="198432fe-bad2-487d-ad6e-c2fe2ee6bed1" config-ref="HTTP_Listener_config" path="/hello"/>
		<ee:transform doc:name="Transform Message" doc:id="c1358fe5-7dff-4c31-b0be-56f4e3586632" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import modules::globalfun as invoke
output application/json

var request = {
	"name": "ANA",
	"country":"Africa",
	"mobile": "8090908030"
}
---
{
	"Name":request.name,
	"Country":invoke::toUpper(request.country),
	"Mobile" : invoke::toPhoneFormat(request.mobile)
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="417db6f7-0269-4ed3-ad55-f7545b275b4a" />
	</flow>
</mule>
